.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* background-color: #f7f7f7; */
    font-family: Arial, sans-serif;
}

.profile-box {
    /* background-color: #eeeeee;  */
    border: 1px solid #929aab; /* fourth-color */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.profile-box h2 {
    color: #393e46; /* third-color */
    margin-bottom: 20px;
}

.profile-box p {
    margin: 10px 0;
    color: #393e46;
}

.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #393e46;
    color: #f7f7f7;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.logout-button:hover {
    background-color: #929aab;
}
