body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.dark {
  --second-color:  #dbd8e3;
  --first-color: #5c5470;
  --third-color:  #352f44;
  --fourth-color: #2a2438;
  --fifth-color: #ffffff;
  --sixth-color: #111;
}
body{
  --first-color: #f7f7f7;
  --second-color: #eeeeee;
  --third-color: #393e46;
  --fourth-color: #929aab;
  --fifth-color: #111;
  --sixth-color: #fff;
  background-image: url('./assets/home-logo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}